@media (max-width: 1035px) {
    .feedback {
        padding-bottom: 50px;
    }

    .feedback h3 {
        margin-bottom: 50px;
    }

    .feedback .arrows {
        right: 30px;
        width: 80%;
        bottom: 30px;
    }

    .feedback__profiles-item {
        flex-direction: column;
    }

    .feedback__profiles-info {
        margin-bottom: 120px;
    }

    .feedback__profiles-video {
        width: 100vw;
        position: relative;
    }

    .how {
        padding-top: 80px;
    }

    .how__item+.how__item {
        margin-top: 100px;
    }

    .how__item img {
        width: 100%;
    }

    .slideshow {
        padding-bottom: 80px;
        min-height: 400px;
    }

    .slideshow .arrows {
        bottom: 50px;
        width: 80%;
        right: 30px;
    }

    .program {
        min-height: auto;
        height: auto;
        padding-bottom: 80px;
    }

    .program p.white {
        margin: 50px 0;
    }

    .time {
        height: auto;
    }

    .time-item__wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 650px) {
    .time-item__wrapper {
        flex-direction: column;
        align-items: start;
    }

    .how__item {
        width: 100%;
        max-width: 100%;
    }

    .how__item p {
        width: 100%;
        max-width: 86vw;
    }

    .how__item img,
    .numbers img {
        width: 100vw;
        max-width: initial;
        margin-left: -30px;
    }

    .feedback__profiles-item {
        align-items: flex-start;
    }

    .feedback__profiles-video {
        margin-left: -30px;
    }
}
@media(max-width: 540px){
    .how__item .simpleParallax{
        min-width: auto !important;
    }
}
@media (max-width: 460px) {
    .swiper-container:not(.feedback__slider-wrp) {
        overflow: hidden !important;
        width: 100% !important;
    }

    .team-slide div:nth-child(2) {
        margin-left: 0 !important;
    }

    .team-slide div p:not(.white):before {
        left: 0;
    }

    .main__bottom {
        max-width: 100%;
    }

    .footer-wrap {
        flex-direction: column;
    }

    .slideshow {
        min-height: 500px;
    }

    .about p.orange {
        font-size: 36px;
    }

    .program__menu-item p.text {
        font-weight: 400;
    }
}